modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 pnpm --filter @workspace/travel-booking run dev"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 6800

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3003

[[ports]]
localPort = 5002
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 6000

[[ports]]
localPort = 9876
externalPort = 8080

[[ports]]
localPort = 9987
externalPort = 8099

[[ports]]
localPort = 9988
externalPort = 8000

[[ports]]
localPort = 9999
externalPort = 8008

[[ports]]
localPort = 21224
externalPort = 3000

[[ports]]
localPort = 21225
externalPort = 3001

[[ports]]
localPort = 21226
externalPort = 4200

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[userenv]

[userenv.shared]
ADMIN_EMAIL = "admin@dreamflyglobal.com"
ADMIN_PASSWORD = "123456"
SMTP_FROM = "bookings@dreamflyglobal.com"
JWT_SECRET = "8bbb68133c051eda373b030c6cf18a9ef9fe1a903dc1d3497ef9be18d51a8d30099ce39d62af567892941f12cbc15a9103a11d7915ed7833b08bf312aa85c475"

[nix]
channel = "stable-25_05"
packages = ["tuxguitar"]

[deployment]
deploymentTarget = "autoscale"
run = ["node", "artifacts/api-server/dist/index.mjs"]
build = ["pnpm", "build"]
